body{
    text-align: center;
}

label {
    color: #B4886B;
    font-weight: bold;
    display: block;
    padding-bottom: 1rem;
    width: 130px;
    float: left;
  }
  
label:after { 
    content: ": " 
}


button{
    padding: 0.3rem;
    padding-bottom: 0.5rem;
}

#output-box{
    padding-bottom: 1rem;
    padding: auto;
}

input {
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
    width: 300px;
  }
  